.content {
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0px;
  margin: 65px 15px 15px 15px;
  padding: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.dropzone .placeholder {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.dropzone .placeholder .glyphicon {
  font-size: 80px;
}

.thumbnail img {
  height: 200px;
  width: 200px;
}

.viewer {
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  position: relative;
  width: 65%;
}

.viewer .controls {
  background-color: gray;
  height: 50px;
  position: absolute;
  top: 0px;
  opacity: 0.5;
  width: 100%;
}

.viewer .pane {
  bottom: 0px;
  overflow: auto;
  position: absolute;
  top: 50px;
  width: 100%;
}

.viewer .spinner {
  align-items: center;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100%;
}
